<!-- Projects-->

<section class="projects-section bg-light" id="projects">
  <div class="container">
    <!-- Featured Project Row-->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="" /></div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Shoreline</h4>
          <p class="text-black-50 mb-0">
            Laboris duis in ex aliqua. Ut quis sit labore ad eu deserunt excepteur. In officia aute laborum in sit exercitation laborum quis veniam exercitation. Non anim minim pariatur mollit irure. Mollit culpa irure fugiat tempor non anim qui ea proident consequat minim laboris. Labore culpa consectetur excepteur id laboris minim.
          </p>
        </div>
      </div>
    </div>
    {{#each imgs}}
    {{#if this.index}}
    <!-- Project One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="{{this.download_url}}" alt="" />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">{{this.author}}</h4>
              <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img class="img-fluid" src="{{this.download_url}}" alt="" />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">{{this.author}}</h4>
              <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    {{/each}}
    {{#if imgs}}
    <div class="row text-center">
      <div class="col">
        <button class="btn btn-primary mx-auto align-content-center center-block" type="submit" onclick="newPage()" style="margin-top: 5%;">Next page</button>
      </div>
    </div>
    {{/if}}
  </div>
</section>
<script>
  const newPage = () => {
    const params = getParams()
    window.location.href = `${window.location.origin}${window.location.pathname}?page=${Number(params.page) + 1 || 2}`
  }
</script>