<section class="about-section text-center" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto" style="margin-bottom: 6%;">
        <h2 class="text-white mb-4" style="text-transform: uppercase;">{{name}}</h2>
        <code style="margin-bottom: 5%;">
          {{url}}
        </code>
      </div>
    </div>
  </div>
</section>

<section class="projects-section bg-light" id="projects">
  <div class="container">
    {{#each images}}
    {{#if this.index}}
    <!-- Project One Row-->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6 text-center" style="align-items: center; border: 1px solid black;">
        <img class="img-fluid mx-auto my-auto vertical-center" src="{{this.image}}" alt="" />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">{{this.description}}</h4>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <!-- Project Two Row-->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6 text-center" style="align-items: center; border: 1px solid black;">
        <img class="img-fluid mx-auto my-auto vertical-center" src="{{this.image}}" alt="" />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">{{this.description}}</h4>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>
</section>